.mediapad {
    padding: 20px;
}
.mediatek {
    padding-top: 20px;
    padding-bottom: 40px;
}
.mediasi {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}
.sike {
    padding-top: 15px;
}
.form {
    padding-left: 40px;
    padding-right: 40px;
}
.button {
    padding-top: 40px;
    padding-bottom: 40px;
}
.main {
    padding-top: 10px;
    padding-bottom: 30px;
}
.yow {
    background-color: #6266ea;
}
.link {
    color: black;
    text-decoration: none;
}
.medias {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
#ban {
    background-image: url('./../img/bgbanner1.jpg');
    background-size: cover;
    height: 100%;
    min-height: 60vh;
    width: 100%;
  }
.ayyo {
   font-size: 10pt;
   padding-top: 5px;
}
.med {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.meds {
    padding-top: 20px;
    padding-bottom: 5px;
}
.skrtt {
    padding-top: 30px;
    padding-bottom: 30px;
}